model:
  name: microsoft/phi-2
  kind: clm

data:
  name: dany0407/eli5_category
  split: null
  config_name: null
  train_split: train
  val_split: validation
  test_split: null
  max_train_samples: null
  max_val_samples: null
  shuffle_train: true
  seed: 42

tokenizer:
  max_length: 2048

training:
  batch_size: 2
  lr: 3e-5
  epochs: 10
  output_dir: output/1231/phi2/
  eval_steps: 50
  gradient_accumulation_steps: 8
  gradient_checkpointing: true
  precision: bf16
  max_steps: 12000



logging:
  report_to: tensorboard
  logging_dir: "./phi2/1231/runs"
  log_every: 10
  save_every: 500
  level: info

lora:
  rank: 16
  lora_alpha: 12
  lora_droput: 0.05
  bias: none
  task_type: CAUSAL_LM

